absl-py 
astor==0.8.0
cached-property 
certifi==2021.10.8
cycler
dataclasses 
numpy
matplotlib
fonttools 
gast 
google-pasta==0.2.0
grpcio 
h5py==2.10.0
html5lib==0.9999999
importlib-metadata 
imutils
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing 
kiwisolver
Mako 
Markdown==3.1.1
MarkupSafe
mtcnn==0.1.0
munkres==1.1.4
numexpr==2.7.0
olefile 
packaging 
Pillow 
protobuf==3.19.1
pyparsing 
python-dateutil 
PyYAML
scipy 
six 
tables==3.6.1
tensorboard==1.14.0
tensorflow 
tensorflow-estimator==1.14.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
Theano==1.0.3
typing_extensions
unicodedata2 
Werkzeug 
wrapt
zipp 
